<p id="notice"><%= notice %></p>

<h1>Check your typing speed and accuracy</h1>
<h2 id="text"></h2>


<textarea name="txtScript" id="word_count" cols="1" rows="1" placeholder="Type above text here.."></textarea>
Total word Count : <span id="display_count">0</span> words,<span id="display_time">0 min</span><br>
Accuracy : <span id="accuracy"></span>
<div id="display_words"></div>


<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @homes.each do |home| %>
      <tr>
        <td><%= link_to 'Show', home %></td>
        <td><%= link_to 'Edit', edit_home_path(home) %></td>
        <td><%= link_to 'Destroy', home, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<span class="signout"><%= link_to 'Sign Out', sign_out_path %></span>
